@use "./partials/variables" as *;
@use "./partials/resets";

@use "./partials/header";
@use "./partials/input-box";
@use "./partials/filter-box";
@use "./partials/list";
@use "./partials/element";
@use "./partials/modal";

body {
  font-family: sans-serif;
}

.viewport {
  padding: 1rem;
  max-width: 30rem;
  margin: auto;
}
