@use './variables' as *;

.element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

  input {
    padding: 0.5rem;

    &:checked + label {
      text-decoration: line-through;
    }
  }

  &__name {
    text-transform: uppercase;
    font-size: 1.1rem;

    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 1rem;

    &--label {
      color: $background-color;
    }

    &--btn {
      border-radius: 10%;
      background-color: $error-color;
      color: $background-text;
    }
  }
}
