@use './variables' as *;

.list {
  width: 100%;
  background-color: $background-text;
  border: 1px solid black;
  color: black;

  &__container {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  &__empty {
    color: $background-text;
  }
}
