.modal {
  position: fixed;
  top: 33vh;
  left: 15%;
  width: 70%;
  height: 30%;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
}

.button {
  width: 6rem;
  height: 4rem;
  font-weight: 900;
  border-radius: 10px;
  cursor: pointer;
}

.button:nth-child(1) {
  background-color: rgb(200, 10, 10);
}

@media (min-width: 40rem) {
  .modal {
    top: 33vh;
    left: 33%;
    width: 33%;
    height: 33%;
    z-index: 2;
  }

  .header {
    font-size: xx-large;
  }
}
